/*Main divs*/
body{
    height: 100vh;
    padding: 0px;
    margin: 0px;
    background-color: #282828;
}

#header{
    border-bottom: 1px solid #33FF33;
    display: flex;
    padding: 15px;
}

#main{
    display: block;
    min-height: 80%;
}

#footer{
    border-top: 1px solid #33FF33;
    background-color: #282828;
    color:#33FF33;
    padding: 15px;
    text-align: center;
    height: auto;
}
/*Main divs*/

/*Header*/
.logo{
    display: inline-block;
}

.right{
    display: inline-block;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.logo a{
    text-decoration: none;
    color: #33FF33;
    display: inline-block;
}

.logo a p{
    display: inline-block;
    vertical-align: bottom;
    font-size: 18px;
}

#logoImg{
    width: 50px;
    height: 50px;
    display: inline-block;
}

.button{
    border: 2px solid #33FF33;
    border-radius: 25px;
    padding: 5px;
    background-color: #282828;
    color: #33FF33;
    text-decoration: none;
}

.button:hover{
    background-color: #33FF33;
    color: #282828;
}

#current{
    background-color: #33FF33;
    color: #282828;
}

#current:hover{
    background-color: #282828;
    color: #33FF33;
}
/*Header*/


/*Text*/
p, h1, h2, h3, i {
    color: #33FF33;
}
/*Text*/

/*List*/
ol, ul, li > a{
    color: #33FF33;
}

ol > li{
    font-size: 26px;
}

ul > li{
    list-style-type: '\26E7';
}

li > a:visited{
    color: #c50f1f;
}

li > a:hover{
    color: #ffb000;
}
/*List*/

hr{
    border: 0px;
    border-top: 1px solid;
    border-color: #33FF33;
}

/*Main*/
.container{
    min-height: 77vh;
    width: 70%;
    margin: auto;
    padding: 15px;
    border-width: 1px;
    border-top: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color: #33FF33;
    background-color:  #282828;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.border-left{
    border-left: 1px solid #33FF33;
}

.flex{
    display: flex;
}

.half{
    display: inline-block;
    width: 50%;
    height: fit-content;
}

.Title{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 1px solid #33FF33;
    padding-bottom: 15px;
    margin: 0px;
    margin-bottom: 15px;
}

.center{
    text-align: center;
}

.img{
    width: 100%;
}

.padding-left{
    padding-left: 15px;
}

.padding-right{
    padding-right: 15px;
}
/*Main*/

/*Table*/
table, tr, th, td{
    border: 1px solid #33FF33;
    border-collapse: collapse;
    color: #33FF33;
    margin: auto;
}
/*Table*/

/*Gallery*/
.gallery-item{
    max-height: 250px;
    width: auto;
}

.gallery-flex{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.cssbox{
    margin: 5px;
}
/*Gallery*/

/*Form*/
form{
    width: 100%;;
    color: #33FF33;
    text-align: center;
}

fieldset{
    border: 1px solid #33FF33;
    text-align: center;
    margin: auto;
    width: 50%;
}

input, textarea{
    width: 50%;
    background-color: #282828;
    border: 1px solid #33FF33;
    border-radius: 15px;
    padding: 5px;
    color: #33FF33;
    text-align: center;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #33FF33 !important;
    -webkit-box-shadow: 0 0 0 30px #282828 inset !important;
}

select{
    background-color: #282828;
    border: 1px solid #33FF33;
    border-radius: 15px;
    padding: 5px;
    color: #33FF33;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffae0080;
}

.add_form_field{
    width: 50%;
    background-color: #282828;
    border: 1px solid #33FF33;
    border-radius: 15px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #33FF33;
}

form a{
    color: #ffb000;
    text-decoration: none;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
background: #282828; 
}

::-webkit-scrollbar-thumb {
background: #282828;
border: 1px;
border-style: solid;
border-color: #33FF33;
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: #33FF33; 
}

/*Media*/

@media only screen and (max-width: 750px){

    #glink{
        display: none;
    }

    body{
        width: auto;
        display: block;
    }

    #header, #footer, #main, .container{
        width: 100%;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 650px){
    #header, .logo{
        display: block;
        text-align: center;
    }
    
    .right{
        display: block;
        padding: 5px;
    }

    .button{
        display: inline-block;
        margin-top: 5px;
    }

    form, select{
        width: 100%;
    }

    fieldset{
        width: auto;
    }

    .img, .cssbox > a{
        width: 100%;
    }
}

@media only screen and (max-width: 500px){
    
    body{
        zoom: 90%;
    }

    .flex{
        display: block;
    }

    .half{
        display: block;
        width: auto;
    }

    .border-left{
        display: none;
    }

    .gallery-item, .img{
        width: 100%;
        object-fit: cover;
    }

    .padding-left, .padding-right{
        padding: 0px;
    }

    p{
        text-align: justify;
    }
}